mysql_data_dir=/var/lib/mysql
doc_root_1=/var/www/html/wordpress_1
doc_root_2=/var/www/html/wordpress_2
doc_root_3=/var/www/html/wordpress_3
ssl_certificate=/etc/ssl/cert.pem
ssl_certificate_key=/etc/ssl/key.pem
docker_entrypoint_initdb_d=/home/ubuntu/docker-entrypoint-initdb-d
mysql_image=mysql
phpfpm_image=bitnami/php-fpm:latest
nginx_image=bitnami/nginx:latest
